{% block body_block %}


<style>
    .container {
        position: relative;
    }

    #imageView {
        border: 2px solid #000;
    }
</style>

<div class="container">
    <div class="jumbotron">
        <h3>Handwriting to Text Converter</h3>
    </div>
</div>

<div class="container">
    <canvas id="imageView" width="336" height="336"></canvas>
</div>

<label>
    Output
    <textarea id="outputText" rows=1 cols=45 wrap=on readonly></textarea>
</label>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../../static/canvas.js"></script>

{% endblock %}
